.MorePage {
  .MoreContentList {
    .ContentItemInfo {
      color: rgba(15, 129, 53, 0.459);
    }
    width: 100%;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration-style: dotted;
      text-decoration-line: underline;
      text-decoration-color: rgba(15, 129, 53, 0.459);
    }
  }
}
