.contentItemBodyList {
  list-style-type: none;
  /*use padding to move list item from left to right*/
  padding-left: 1em;
}

.contentItemBodyList li:before {
  content: "–";
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1em;
}
