.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.centerY {
    align-items: center;
  }
  &.centerX {
    justify-content: center;
  }
}
