.ContentList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .grouped {
    padding-bottom: 0;
  }
  .grouped:last-child {
    padding-bottom: 2ch;
  }
  > .grouped ~ .grouped {
    padding-top: 0;
  }
}
